* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

#wave {
   position: absolute;
   z-index: 2;
}

.App {
   display: flex;
   flex-direction: column;
   width: 100vw;
   height: 100vh;
   background: black;
}

header {
   position: relative;
   z-index: 2;
   font-family: 'Raleway', sans-serif;
   font-size: 36px;
   text-align: center;
   padding-top: 16px;
   color: white;
}

main {
   flex-grow: 1;
   display: flex;
   flex-wrap: wrap;
   align-content: space-between;
   width: 100vw;
   margin: 0px auto;
}